.button-cart {
    display: block;
    width: 49px;
    height: 49px;
    background-color: #313131;
    border-radius: 50%;
}
.button-cart svg{
    width: 25px;
    margin-left: 10px;

}
.button-cart .button-cart-info-quantity{
    text-align: center;
}

.button-cart:hover {
    background-color: #666666;
    
}

.slider {
	max-width: 1200px;

	margin: auto;
	margin-top: 25px;
	border: 1px solid black;
	position: relative;
	overflow: hidden;
}

.slide {
	max-width: 1200px;

	position: absolute;
	top: 0;
	left: 0;
	animation-name: slid;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes slide {
    from {
     top: 0;
     left: 0;
    }
    12.5% {
     transform: translate(0px, 0px);
    }
    25% {
     transform: translate(-500px, 0);
    }
    36% {
     transform: translate(-500px, 300px);
    }
    37% {
     transform: translate(500px, 300px);
    }
    87.5% {
     transform: translate(500px, 0);
     
    }
    to {
     transform: (0px, 0px);
    }
}

.slide1 { 
    background: url(1.jpg);
    animation-delay: 7.5s;
   }
   .slide2 { 
    background: url(2.jpg);
    animation-delay: 5s;
   }
   .slide3 { 
    background: url(3.jpg);
    animation-delay: 2.5s;
   }
   .slide4 { 
    background: url(4.jpg);
    animation-delay: 0s;
}